{% extends 'base.html.twig' %}

{% block title %} Ajouter un argonaute {% endblock %}

{% block body %}
<section> 
<div class="intro-header" style="background-image: url(../public/img/logoTechChallenge.png);"></div>

<h2>Ajouter un(e) Argonaute</h2>
</section>
<section>

<form class="new-member-form">
<div>
    <label form="name">Nom de l&apos;Argonaute</label>
</div>
<div>
    {{ form(formEquipage)}}
    <button type="submit">Envoyer</button>
    </div>
  </form>
  <center><div>
  {% for equipage in equipages %}
  
 <li> {{ equipage.membre }} </li>

  {% endfor %}
  </div></center>

</section>


{% endblock %}
