{% extends 'base.html.twig' %}

{% block title %} Liste des membres équipage {% endblock %}

{% block body %}
<h2>Membres de l'équipage</h2>
  <section class="member-list" >
    <div class="member-item">Eleftheria</div>
    <div class="member-item">Gennadios</div>
    <div class="member-item">Lysimachos</div>
  </section>
</main>
{% endblock %}
