{% extends 'base.html.twig' %}

{% block title %} Ajouter un argonaute {% endblock %}

{% block body %}
<h1> Equipage </h1>

    <table class="table">
        <tbody>
            <tr>
                <th> Numero </th>
                <td>{{ equipage.id }}</td>
            </tr>
            <tr>
                <th> Nom </th>
                <td>{{ equipage.membre }}</td>
            </tr>
            <tr>
                <th>Adjectifs qualificatifs </th>
                <td>{{ equipage.qualificatif }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
