<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    </head>
    <header class="container-fluid" style="background-color: grey; margin-top: 0; padding: 40px">
        <h1 class="text-center" style="color: white; heigth: 96px"> Les Argonautes </h1>

</header>
        {% block body %}   
        {% endblock %}
   
   <footer class="navbar-light bg-light" style="text-align: center; color: white; position: absolute; background-color: red; bottom: 0; width: 100%;">
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>
</html>
